<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <connectionStrings>
    <add name="HigoHost" connectionString="http://apitest.higo.killtime.cn/"/>
  </connectionStrings>
  <appSettings>
    <add key="appsecret" value="iiIxJweJ8yYhfu8STicXLQ=="/>
    <add key="appkey" value="wuzhouhaisheng"/>
  </appSettings>
</configuration>
